---
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro</title>
  </head>
  <body>
    <div class="flex flex-col min-h-screen">
      <header
        class="flex flex-wrap sm:justify-start sm:flex-nowrap z-50 w-full bg-white text-sm py-4 dark:bg-gray-800"
      >
        <nav
          class="max-w-screen-lg w-full mx-auto px-4 sm:flex sm:items-center sm:justify-between"
          aria-label="Global"
        >
          <a class="flex-none text-xl font-semibold dark:text-white" href="#"
            >Shi Han NG</a
          >
          <div
            class="flex flex-row items-center gap-5 mt-5 sm:justify-end sm:mt-0 sm:pl-5"
          >
            <a class="font-medium text-blue-500" href="#" aria-current="page"
              >Writings</a
            >
            <a
              class="font-medium text-gray-600 hover:text-gray-400 dark:text-gray-400 dark:hover:text-gray-500"
              href="#">Projects</a
            >
            <a
              class="font-medium text-gray-600 hover:text-gray-400 dark:text-gray-400 dark:hover:text-gray-500"
              href="#">Now</a
            >
            <a
              class="font-medium text-gray-600 hover:text-gray-400 dark:text-gray-400 dark:hover:text-gray-500"
              href="#">Contact</a
            >
          </div>
        </nav>
      </header>

      <main
        class="container mx-auto max-w-screen-lg flex-grow text-bright-gray p-4"
      >
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam est
        ipsum, porta a fermentum ut, posuere sed arcu. Curabitur sed ligula
        malesuada, finibus ex at, sodales purus. Curabitur facilisis purus nisi,
        eu bibendum dui lobortis semper. Nunc nec tincidunt dui. Ut tincidunt
        eros cursus consequat aliquam. Quisque eleifend massa ac posuere varius.
        Pellentesque facilisis ligula ligula, eu congue libero tristique vitae.
        Nam sed porta lectus. Etiam tincidunt lacus ac commodo dictum. Aenean
        accumsan ligula justo. Lorem ipsum dolor sit amet, consectetur
        adipiscing elit. Mauris lobortis condimentum nulla, placerat lobortis
        augue finibus eu. Donec semper a odio eget tincidunt. Fusce pharetra,
        purus eu faucibus volutpat, nulla libero mollis ex, ac vehicula turpis
        ante eu libero. In imperdiet, tellus et posuere posuere, urna urna
        suscipit urna, eu hendrerit neque odio eget sem. Aliquam gravida velit
        quis tortor efficitur faucibus. Suspendisse rhoncus felis nec purus
        tempor interdum. Duis placerat dictum risus, in malesuada massa
        porttitor ac. Nulla semper auctor tincidunt. Vivamus a magna tempus,
        varius leo sit amet, dictum quam. Nunc sed enim nibh. Phasellus id
        porttitor diam. Cras ut dui turpis. Vestibulum dapibus diam dui, eget
        sollicitudin dolor sagittis eget. Phasellus molestie et elit sed
        porttitor. Quisque vitae velit augue. Sed in erat aliquam, volutpat
        augue id, dapibus est. Duis in blandit odio. Suspendisse quis libero
        vehicula, varius leo ut, sagittis odio. Nunc urna mi, tristique id
        finibus et, malesuada eu nunc. Vivamus lobortis felis at porta
        sollicitudin. Aenean vehicula leo in dolor interdum, ac tristique ipsum
        pellentesque. Integer commodo lacus ac diam porttitor, eu placerat ante
        posuere. Vestibulum tincidunt posuere purus, non vulputate erat porta
        et. Etiam congue rutrum rhoncus. Aliquam arcu est, lacinia quis erat ac,
        viverra rhoncus tortor. Cras at ipsum dignissim, porttitor nisi
        condimentum, eleifend odio. Donec a sodales lectus, non gravida felis.
        Sed fringilla, erat ornare condimentum lobortis, sem leo pellentesque
        dui, ac sollicitudin lectus nibh et lacus. Vestibulum aliquet orci vitae
        faucibus commodo. Suspendisse pharetra feugiat nulla, non molestie sem
        auctor in. Nullam vel est ut enim aliquet porttitor. In laoreet odio
        neque, vel faucibus tortor suscipit molestie. Ut blandit, dui pretium
        consequat maximus, magna magna posuere ex, quis ornare dui quam vel
        urna. In hac habitasse platea dictumst. Curabitur scelerisque diam non
        nibh varius interdum. Donec luctus cursus massa at maximus. Aliquam
        maximus dui a luctus aliquet. Nullam augue mi, feugiat in erat sit amet,
        porta imperdiet risus. In a congue nisi. Nullam mollis vestibulum lectus
        sit amet pretium. Vestibulum congue, nunc efficitur dictum semper, quam
        quam dapibus libero, quis ornare quam turpis eu nisi. Vestibulum
        condimentum sagittis magna, quis bibendum risus lobortis nec. Sed at
        bibendum dui. Nulla fringilla nibh ante, a iaculis dui congue at. Etiam
        lacus ante, sollicitudin consectetur mollis in, hendrerit nec dolor.
        Vivamus non massa ipsum. Nullam a risus auctor arcu convallis auctor.
        Maecenas iaculis viverra mattis. Phasellus ut nisl aliquet, lobortis
        nisl at, vulputate elit. Proin nec ultrices lacus. Fusce ultricies massa
        turpis, at auctor elit ultricies ut. Sed lacinia nisl ut diam porta
        mollis. Donec blandit augue et odio molestie tempus. Curabitur pulvinar
        malesuada nulla, et tempor lorem dapibus id. Nam et augue mollis, tempor
        odio ac, feugiat nunc. Ut at lectus faucibus, faucibus ligula at,
        aliquam ex. Pellentesque vehicula justo metus, eget accumsan nibh
        volutpat a. Curabitur non enim nisi. Nulla pharetra vel elit nec
        vestibulum. Aliquam purus orci, venenatis accumsan blandit a, sagittis
        et leo. Mauris sit amet sapien ac dui pulvinar sodales id facilisis
        nisi. Curabitur molestie arcu mi, non tempor felis faucibus a. Integer
        ornare faucibus quam quis pharetra. Ut pharetra nec quam eget venenatis.
        Donec tempus ornare metus suscipit mattis. Morbi id lectus convallis,
        posuere eros eget, egestas enim. Duis posuere mi est, eget rhoncus magna
        blandit ac. Ut ullamcorper in magna at hendrerit. Nunc eros turpis,
        aliquam non rutrum ut, tristique vitae tellus. Nulla efficitur augue
        hendrerit, hendrerit lacus in, dictum ex. Donec malesuada ornare ex sed
        rutrum. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis eu
        nisl mattis, consequat neque et, porttitor felis. In posuere nec urna
        eget dignissim. Orci varius natoque penatibus et magnis dis parturient
        montes, nascetur ridiculus mus. Aenean magna lectus, suscipit nec quam
        sit amet, vestibulum pretium est. Morbi eu vulputate sem. Aliquam eget
        enim sed nulla laoreet ornare. Phasellus finibus orci ac fringilla
        eleifend. Nullam eget pharetra elit. Aenean a rutrum sem, non dignissim
        est. Ut venenatis ipsum ligula, imperdiet vehicula libero sagittis a.
        Nam eleifend volutpat nisi, ultricies condimentum tellus sagittis quis.
        Sed est odio, sagittis ac elementum vel, cursus quis orci. Proin eu
        venenatis justo. Praesent rutrum semper turpis. Donec in lacinia neque,
        et semper sem. Mauris varius congue finibus. Nullam vitae condimentum
        magna. Ut nisl lorem, lacinia eu rhoncus nec, interdum a arcu. Donec
        vehicula diam eget arcu varius lobortis. Curabitur sit amet erat at
        purus faucibus pulvinar mollis nec libero. In vel enim sapien.
        Pellentesque a auctor leo, sed faucibus metus. Vestibulum maximus elit
        at mattis varius. Nunc mi eros, pharetra vitae diam cursus, ullamcorper
        tempor justo. Donec sit amet pretium felis, in pharetra nisi. Cras eu
        porta enim. Praesent laoreet imperdiet elit sit amet venenatis. Sed sed
        sem in lacus accumsan consectetur quis vitae libero. Pellentesque at
        sagittis urna, nec egestas dui. Quisque aliquet nunc nunc, et accumsan
        nunc vulputate ut. Aliquam a viverra tortor. Nullam vestibulum sem eu
        convallis rhoncus. Vivamus non turpis quam. Suspendisse ut semper nunc.
        Praesent quis aliquet nibh. Quisque quis felis vitae elit rhoncus
        volutpat ac nec urna. Curabitur sit amet ligula in nisl commodo
        condimentum. Nunc nec hendrerit metus, sit amet pulvinar justo. Donec
        sagittis accumsan ligula, nec interdum justo placerat vel. Donec mattis
        risus augue, vel auctor augue tincidunt quis. Sed imperdiet lectus sed
        nunc molestie, nec scelerisque justo tincidunt.
      </main>

      <footer class="text-center w-full">
        <div class="container mx-auto max-w-screen-lg py-4">
          <p>&copy; 2023 Your Name. All rights reserved.</p>
        </div>
      </footer>
    </div>
    <script>
      import "preline/dist/preline.js";
    </script>
  </body>
</html>
