---
import BaseLayout from "../layouts/BaseLayout.astro";
const pageTitle = "Ramblings";
---

<BaseLayout pageTitle={pageTitle}>
  <ul>
    <li><a href="/posts/test/">Test post</a></li>
  </ul>
</BaseLayout>
