---
const year = new Date().getFullYear();
const name = "Shi Han NG";
---

<footer class="text-center w-full">
  <div class="container mx-auto max-w-screen-lg py-4">
    <p>
      &copy; {year}
      {name} |
      <a href="https://creativecommons.org/licenses/by-nc/4.0/">CC BY-NC 4.0</a>
    </p>
  </div>
</footer>
