---
import Navigation from "./Navigation.astro";
---

<header
  class="flex flex-wrap sm:justify-start sm:flex-nowrap z-50 w-full bg-white text-sm py-4 dark:bg-gray-800"
>
  <nav
    class="max-w-screen-lg w-full mx-auto px-4 sm:flex sm:items-center sm:justify-between"
    aria-label="Global"
  >
    <a
      class="font-hand flex-none text-2xl font-semibold dark:text-white"
      href="/">Shi Han NG</a
    >
    <Navigation />
  </nav>
</header>
