---
import Link from "../components/Link.astro";
---

<div>
  <nav>
    <ul class="flex flex-row justify-center space-x-2">
      <li>
        <Link href="/writings">Writings</Link>
      </li>
      <li>
        <Link href="/projects">Projects</Link>
      </li>
    </ul>
  </nav>
</div>
