---
---

<div>
  <nav>
    <ul class="flex flex-row justify-center space-x-2">
      <li>
        <a href="/writings">Writings</a>
      </li>
      <li>
        <a href="/projects">Projects</a>
      </li>
    </ul>
  </nav>
</div>
