---
import NavLink from "./NavLink.astro";
---

<div
  class="flex flex-row items-center gap-5 mt-5 sm:justify-end sm:mt-0 sm:pl-5"
>
  <NavLink path="/ramblings">Ramblings</NavLink>
  <NavLink path="/projects">Projects</NavLink>
  <NavLink path="/now">Now</NavLink>
  <NavLink path="#">Contact</NavLink>
</div>
