---
---

<div
  class="flex flex-row items-center gap-5 mt-5 sm:justify-end sm:mt-0 sm:pl-5"
>
  <a class="font-medium text-blue-500" href="/ramblings" aria-current="page"
    >Ramblings</a
  >
  <a
    class="font-medium text-gray-600 hover:text-gray-400 dark:text-gray-400 dark:hover:text-gray-500"
    href="#">Projects</a
  >
  <a
    class="font-medium text-gray-600 hover:text-gray-400 dark:text-gray-400 dark:hover:text-gray-500"
    href="/now">Now</a
  >
  <a
    class="font-medium text-gray-600 hover:text-gray-400 dark:text-gray-400 dark:hover:text-gray-500"
    href="#">Contact</a
  >
</div>
